.navbar{
    background-color: #22262b;
}
ul.nav {
    list-style-type: none;
    max-width:1200px;
    margin:auto;
    padding: 0;
    background-color: #22262b;
    height: 40px;
    font-size: small;
}

li.nav {
    cursor: grab;
    float: left;
    margin-top: 2px;
    display: block;
    color: #c6ccd2;
    text-align: center;
    padding: 10px;
    
    text-decoration: none;
}

li.nav:hover {
    background-color: #111;
}

li.right{
    float: right;
    height: 40px;
}
.letters-logo{
    float: right;
    height: 40px;
}
@media screen and (max-width: 600px) {
    .letters-logo:not(:first-child) {display: none;}
}