
ul.head {
    list-style-type: none;
    max-width:1200px;
    margin:auto;
    padding: 0;
    background-color: #16191d;
    font-size: small;
    height: 100%;
}

li.head {
    float: left;
    margin: 15px 10px;
    padding: 10px;
    color: #f0f0f0;
    background-color: #22262b;
    text-align: center;
    border-radius: 3px;
    width: 80px;

}
li.head:hover{
    background-color: #111;
}
p.title{
    text-align: left;
    margin:0;
    padding-top: 5px;
    font-size: medium;
}
p.value{
    text-align: left;
    margin:0;
    font-size: medium;
}