/*************************** OverView **************************/
#overview {
  width: 100%;
  font-size: 14px;

}

#overview ul {
  border-radius: 6px;
  list-style: none;
  text-decoration: none;
  margin: 0px auto;
  max-width: 1200px;
  background-color: #22262b;
  padding: 10px 0px 10px 0px;
}

#overview>ul>li {
  width: 1170px;
  margin: 7px 15px;
  border-radius: 6px;
}

#overview>ul>li>ul {
  height: 40px;
  background-color: #363d45;
}

#overview>ul>li>ul>li {
  float: left;
  padding-left: 10px;
}

#overview>ul>li>ul>li>h2 {
  padding-top: 5px;
}

#overview>ul>li>ul>li:last-child {
  float: right;
  padding-right: 10px;
}
.open-door:hover {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

/*************************** BoardDash **************************/
.header-factory {
  display: grid;
  grid-template-columns: 90px 50% 1fr 50px;
  background-color: #363d45;
  border-radius: 6px;
  border: 2px solid rgb(156, 156, 156);
}
.title-factory {
  padding-left: 10px;
  line-height: 3;
  height: 45px;
}
.title-board {
  padding-top: 10px;
}
.board-logo {
  padding: 5px;
}
.drop-form {
  padding: 5px;
  grid-column: 4;
}
.drop-form:hover {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
.board-details {
  grid-column: 2/4;
  background-color: #22262b;
  border-radius: 6px;
  padding: 5px;
}
.board-row {
  display: grid;
  grid-template-columns: 50px 50% 1fr 50px;
  grid-template-rows: 50px;
  background-color: #363d45;
  border-radius: 6px;
  gap:20px;
}
/*************************** BoardRelay **************************/
.board-relay {
  display: grid;
  grid-template-columns: 50px 50% 1fr 50px;
  grid-template-rows: 50px 20px 50px 20px 50px 50px 20px 70px;
  gap:20px; 
  background-color: #363d45;
  border-radius: 6px;
  padding-bottom: 20px;
}
.relay-list {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  background-color: #22262b;
  border-radius: 6px;
}
.opto-list {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  background-color: #22262b;
  border-radius: 6px;
}
.board-relay form {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 50px 50px 100px 50px 50px 1fr;
  grid-template-rows: repeat(2, 1fr);
}
.board-relay form h3 {
  align-self: center;
  justify-self: center;
}
.board-relay form input {
  background-color: #22262b;
  text-align: center;
  color: white;
  width: 60px;
  height: 18px;
  align-self: center;
  justify-self: center;
  border-radius: 4px;
}
/*************************** BoardMotor **************************/
.board-motor {
  display: grid;
  grid-template-columns: 50px 50% 1fr 50px;
  grid-template-rows: 50px 20px 50px 50px 70px;
  gap:20px; 
  background-color: #363d45;
  border-radius: 6px;
  padding-bottom: 20px;
}
.sensor-list {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  background-color: #22262b;
  border-radius: 6px;
}
.board-motor form {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 50px 50px 100px 50px 50px 1fr;
  grid-template-rows: repeat(2, 1fr);
}
.board-motor form h3 {
  align-self: center;
  justify-self: center;
}
.board-motor form input {
  background-color: #22262b;
  text-align: center;
  color: white;
  width: 60px;
  height: 18px;
  align-self: center;
  justify-self: center;
  border-radius: 4px;
}