.app-header {
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
    background: var(--hos-color-gray-015);
    color: var(--hos-color-gray-080);
    -webkit-box-shadow: 0 4px 12px var(--hos-shadow-gray-030);
    box-shadow: 0 4px 12px var(--hos-shadow-gray-030);
}
@media screen and (max-width: 1200px){
    .app-header {
        padding-left: 15px;
        padding-right: 15px;
        width: 100vw;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}


.d8667e2808f3ec7b106b {
    margin: 0 auto;
    max-width: var(--max-content-width);
    text-align: center;
    padding: 3px 0 2px;
}
.d9069d7bb1b2079fda01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.c1cc6706479c50b912b0 {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: left;
}
.c2730c3c56791b45924b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
